In [2]:
import numpy as np
import pandas as pd

In [2]:
# pd series! help(pd.series)

myindex = ['USA', 'CANADA', 'MEXICO']
mydata = [1776, 1867, 1821]

myser = pd.Series(data=mydata, index=myindex)
myser

USA       1776
CANADA    1867
MEXICO    1821
dtype: int64

In [3]:
type(myser)

pandas.core.series.Series

In [4]:
myser[0]

1776

In [5]:
myser['USA']

1776

In [6]:
# Series object maintains normal + labelled index
myser['MEXICO']

1821

In [7]:
myseranom = pd.Series(mydata, myindex)

In [8]:
myseranom

USA       1776
CANADA    1867
MEXICO    1821
dtype: int64

In [11]:
# We can create a series from a dict
ages = {
    'SAM': 5,
    'FRANK': 10,
    'SPIKE': 7
}

# Yes pandas is that smart!
pd.Series(ages)

SAM       5
FRANK    10
SPIKE     7
dtype: int64

In [3]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [4]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [5]:
sales_q1['Japan']

80

In [6]:
sales_q1[0]

80

In [7]:
# See what keys are available.
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

## Operations Between Two Series

In [8]:
[1, 2] * 2

[1, 2, 1, 2]

In [9]:
# Multiply each item in the array (broadcast)
np.array([1, 2]) * 2

array([2, 4])

In [10]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [11]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [12]:
# Takes the labeled index into account!!
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [13]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [14]:
# Check this out! (does not know what to do if labels not present in both series)
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [18]:
# Fill in the blanks. (using the add method on Series to add two series together.)
first_half = sales_q1.add(sales_q2, fill_value=0)

### Notice that when we do operations on Series, pandas converts these values to floats for precision

In [17]:
sales_q1.dtype

dtype('int64')

In [19]:
first_half

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [20]:
first_half.dtype

dtype('float64')

In [22]:
# Can control the datatype.
pd.Series(dtype="float64")

Series([], dtype: float64)